{
    "IsEncrypted": false,
    "Values": {
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "AuthenticationMode": "ManagedIdentity",
        "MANAGED_IDENTITY_CLIENT_ID": "<insert>",
        "TENANT_ID": "<insert>",
        "ADXClusterUrl": "<insert>",
        "ADXDatabase":"<insert>"
    }
}